.patientBookingMainDiv {
  max-height: 500px;
  overflow-y: scroll;
  width: 910px;
}

.patientTableDashboardMainDiv {
  border: 1px solid #ffffff;
  width: 890px;
  background-color: grey;
}

.patientTableDashboardTitle {
  background-color: #4397cf;
  color: black;
}

.patientTableDashboard {
  color: black;
  font-weight: bold;
}

.patientTableDashboard:hover {
  color: rgb(196, 22, 22);
}

.row {
  padding: 5px;
  border: 1px solid #ffffff;
  width: 250px;
  font-size: 14px;
  transition: 0.2s;
}
.rowDelete {
  padding: 5px;
  border: 1px solid #ffffff;
  width: 50px;
  font-size: 14px;
  transition: 0.2s;
}

.title {
  border: 1px solid #ffffff;
  padding: 5px;
  font-weight: bold;
}

.titleNo {
  color: black;
  border: 1px solid #ffffff;
  padding: 5px;
  font-weight: bold;
}

.rowNo {
  padding: 10px;
  border: 1px solid #ffffff;
  width: 50px;
  font-size: 15px;
}

.Check_Booking_DashBord {
  color: white;
}
.delete {
  pointer-events: none;
}

.deleteButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
