* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
.appoDiv {
  width: 700px;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-left: -270px;
  background-color: rgb(12, 26, 50);
  border-radius: 12px;
  border: 1px solid #4397cf;
}
.appoTable {
  width: 600px;
  top: 500px;
  height: 100%;
  background-color: blue;
}

.AppointementDoctorMainDiv {
  background-color: #ffffff;
  height: 400px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AppointementDoctor {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-flow: wrap-reverse;
  width: 100%;
  padding: 20px;
  height: 400px;
  align-items: center;
}
.AppointementDoctorTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: -30px;
  margin-left: 20px;
}
.listShow {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 10px;
  align-items: flex-end;
  background-color: rgb(12, 26, 50);
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #4397cf;
}
.list1 {
  width: 100%;
  gap: 1vw;
  align-items: center;
  height: 300px;
  color: white;
  border: white;
}
.list1Show {
  width: 100%;
  gap: 1vw;
  align-items: center;
  height: 300px;
  color: white;
  border: white;
}
table,
th,
td {
  border: 1px solid black;
}
.select_appointement {
  display: flex;
  flex-direction: row;
}
.select_appointement label {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
}

.A {
  color: black;
  background-color: #4397cf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
  width: 90%;
  height: 80%;
  margin-left: 10px;
}

.A:hover {
  background-color: GREEN;
  color: white;
  cursor: pointer;
}

.B {
  color: black;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
  width: 90%;
  height: 80%;
  margin-left: 10px;
}

.B {
  background-color: red;
  color: white;
  cursor: pointer;
}

.trSetAppointment {
  border: 1px solid #ffffff;
}
.tdSetAppointment {
  border: 1px solid #ffffff;
  padding: 5px;
}
.trSetAppointmentShow {
  border: 1px solid #ffffff;
}
.tdSetAppointmentShow {
  border: 1px solid #ffffff;
  padding: 5px;
  color: black;
  background-color: rgb(12, 26, 50);
}
.test1 {
  color: black;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
  width: 90%;
  height: 50px;
  margin-left: 10px;
}
.setAppointmentButtonOk {
  cursor: pointer;
  background-color: GREEN;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 20%;
  height: 40px;
  text-align: center;
  margin-bottom: 7px;
}
