* {
  margin: 0%;
  padding: 0%;
}

.doctorProfileMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 5px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  gap: 50px;
  width: 100%;
}

.pictureAndTitle {
  border: 1px solid #4397cf;
  background-color: rgb(12, 26, 50);
  padding: 25px;
  gap: 20px;
  height: 450px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pictureAndTitle img {
  height: 370px;
  width: 300px;
  border-radius: 12px;
}
.DoctorNameProfilePage {
  color: white;
  font-family: "Righteous", cursive;
}

.profileInformationDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  background-color: rgb(12, 26, 50);
  border: 1px solid #4397cf;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileInformation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  width: 50%;
  font-size: 30px;
}

.profile-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-family: "Bebas Neue", cursive;
}

h5 {
  color: grey;
  font-size: 15px;
}
h5 span {
  color: white;
  font-size: 0.8em;
}
h3 {
  color: #ff3030;
}

.appointement {
  background-color: blue;
  width: 50%;
}

.CommentsAndRate {
  width: 90%;
  margin-left: 4vw;
  margin-right: 10vw;
  min-height: 50vh;
  border-radius: 12px;
}

.pictureAndTitleMainDev {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chatWhatsApp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(12, 26, 50);
  border: 1px solid #4397cf;

  height: 120px;
  border-radius: 12px;
  font-size: 40px;
  padding: 10px;
  gap: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.doctorEmailAndWhatsApp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.doctorEmail2 {
  border: 1px solid grey;
  padding: 10px;
  width: 280px;
  border-radius: 12px;
  font-size: 20px;
  color: grey;
  font-family: "Righteous", cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.doctorWhatsApp {
  display: flex;
  flex-direction: row;
}

.doctorWhatsAppNumber {
  border: 1px solid grey;
  padding: 10px;
  width: 280px;
  height: 45px;
  border-radius: 12px;
  font-size: 20px;
  color: grey;
  font-family: "Righteous", cursive;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
