.MainDivDashBoard {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.rightSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #1c2e4c;
}

.leftSide {
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 12px;
  background-color: #0c1a32;
  gap: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 65vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.dashboardSelect {
  color: grey;
  letter-spacing: 0.5px;
  padding: 20px;
  border-radius: 7px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}
.dashboardSelect:hover {
  background-color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
  color: #f6cd50;
}

.dashboardSelect2 {
  color: white;
  background-color: rgb(255, 255, 255, 0.2);
  letter-spacing: 0.5px;
  padding: 20px;
  border-radius: 7px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}

.dashboardSelect2:hover {
  background-color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
  color: #f6cd50;
}

.dashboardItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-direction: column;
  gap: 50px;
}

.dashBoardChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  background-color: #1c2e4c;
  height: 400px;
  margin-top: 30px;
}

.chartOne {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1a32;
  width: 35%;
  height: 90%;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chartTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1a32;
  width: 35%;
  height: 90%;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chartThree {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1a32;
  width: 35%;
  height: 90%;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chartFour {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1a32;
  width: 35%;
  height: 90%;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboardIcon {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.chartOnePatients {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1a32;
  margin-top: 40px;
  width: 80%;
  max-height: auto;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Scrollbar Styling */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(253, 194, 85);
} */
