.container{
    /* width:100vw; */
    /* height: 50vh; */
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

}
.TableBooking{
    margin-left: 1vw;
}
.calendar{
    width:60vw;
    height: 40vh; 
}
/* Table Css */
.patient_Table_Appointment{
  width: 100%;
  border: 1px solid #ffffff;
    
}
.patient_Table_Appointment_title{
  background-color: #0d79e5;

}
.titleNo_Appointment{
    color: white;
  border: 1px solid #ffffff;
  padding: 0px;
  font-weight: bold;
}
.title_Appointment{
    color: white;
  border: 1px solid #ffffff;
  padding: 10px;
  font-weight: bold;
}
.rowNo_Appointment{
    padding: 10px;
  border: 1px solid #ffffff;
  width: 50px;
  font-size: 15px;
}

.row_Appointment{
    padding: 5px;
  border: 1px solid #ffffff;
  width: 170px;
  font-size: 15px;
  transition: 0.2s;
}