.parentTableDoctors {
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 900px;
  padding: 50px;
  background-color: rgb(12, 26, 50);
  border-radius: 12px;
  border: 1px solid #4397cf;
}
.tableDoctors {
  border: 1px solid #ffffff;
  overflow: scroll;
  background-color: grey;
  color: black;
  max-height: 100px;
  overflow-y: scroll;
}
.trHeadDoctors {
  background-color: #0d79e5;
}
.thNODoctors {
  color: black;
  border: 1px solid #ffffff;
  padding: 0px;
  font-weight: bold;
  background-color: #0d79e5;
}

.tdDoctorsDelete {
  padding: 5px;
  border: 1px solid #ffffff;
  width: 50px;
  font-size: 15px;
  transition: 0.2s;
}
.thDoctors {
  color: black;
  border: 1px solid #ffffff;
  padding: 10px;
  font-weight: bold;
}
.trBodyDoctors {
  color: black;
  background-color: grey;
}
.trBodyDoctors:hover {
  color: rgb(240, 83, 83);
}
.tdNoDoctors {
  padding: 10px;
  border: 1px solid #ffffff;
  width: 40px;
  font-size: 15px;
}
.tdDoctors {
  border: 1px solid #ffffff;
  font-size: 15px;
  transition: 0.2s;
  padding: 10px;
}
