.mainPage3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.Page3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: rgb(12, 26, 50);
  padding: 10px;
  border: 1px solid #4397cf;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.labelDiv3 {
  display: flex;
  width: 100%;
  margin-top: 15px;
}
.levelLabel3 {
  color: White;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4397cf;
  font-weight: bold;
  word-spacing: px;
  height: 50px;
  width: 100%;
  border-radius: 7px;
  font-family: "Righteous", cursive;
  letter-spacing: 1px;
  padding: 10px;
}

.infoRegisterDoctorDiv3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.doctorWorkingDays,
.doctorAddress,
.doctorCareersLicense,
.doctorAddress,
.doctorWaitingTime {
  width: 400px;
  padding: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid grey;
  text-align: left;
  padding-left: 10px;
}

.doctorWorkingDays,
.doctorAddress,
.doctorCareersLicense,
.doctorAddress,
.doctorWaitingTime::placeholder {
  font-family: "Righteous", cursive;
  text-align: left;
}
.doctorWorkingDays,
.doctorAddress,
.doctorCareersLicense,
.doctorAddress,
.doctorWaitingTime:focus {
  outline-color: #4397cf;
  text-align: left;
}

.nextbtn3Div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.backBtn3:hover {
  cursor: pointer;
  color: white;
}

.nextBtn3 {
  border: none;
  background: none;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  color: #4397cf;
  padding-right: 20px;
}

.nextBtn3:hover {
  cursor: pointer;
  color: white;
}

.backBtn3 {
  border: none;
  background: none;
  font-size: 30px;
  color: #4397cf;
  padding-left: 20px;
}
