.patient_Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  background-color: rgb(12, 26, 50);
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #4397cf;
}
.patient_Table_Profile_Main_Div {
  /* border: 1px solid #ffffff;
  width: 100%; */
}
.patient_Table_Profile_Main_Div {
  max-height: 400px;
  overflow-y: scroll;
}
.patient_Table_Profile_Title {
  background-color: #0d79e5;
}
.patient_Table_Profile {
  color: white;
  width: 100px;
}
.patient_Table_Profile:hover {
  color: rgb(240, 83, 83);
}
.row_Profile {
  padding: 5px;
  border: 1px solid #ffffff;
  width: 170px;
  font-size: 15px;
  transition: 0.2s;
  background-color: grey;
  color: black;
}
.titleNo_Profile {
  color: black;
  border: 1px solid #ffffff;
  padding: 10px;
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: #0d79e5;
}
.rowNo_Profile {
  padding: 10px;
  border: 1px solid #ffffff;
  width: 50px;
  font-size: 15px;
  background-color: grey;
  color: black;
  padding: 10px;
}
.title_Profile {
  color: white;
  border: 1px solid #ffffff;
  padding: 10px;
  font-weight: bold;
  color: black;
  background-color: #0d79e5;

  position: sticky;
  top: 0;
}
/* css Buttons */
.deleteButtons {
  background-color: inherit;
  border-style: none;
}
.deleteButtons:hover {
  cursor: pointer;
}
.delete {
  pointer-events: none;
}

.rowDeletePatient {
  padding: 5px;
  border: 1px solid #ffffff;
  width: 50px;
  font-size: 14px;
  transition: 0.2s;
  background-color: grey;
  color: black;
  padding: 7px;
}
