.patientProfileMainDiv {
  min-height: 100vh;
}
.patientAppointement {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  flex-wrap: wrap;
}

.patientAppointementMini {
  background-color: aqua;
}
.delete {
  pointer-events: none;
}
