.mainPageDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 50px;
}
.DoctorName{
  cursor: pointer;
}
.card {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(2, auto);
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(251, 255, 255);
  margin: 1%;
  gap: 1%;
  width: 150vh;
  height: 55vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CardImageDiv {
  width: 50vh;
  background-color: grey;
  background-color: green;
  height: 100%;
}

.card-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  gap: 20px;
  width: 50vh;
  background-color: blue;
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1%;
}


.bookingBtn {
  background-color: red;
  width: 50vh;
  height: 100%;
  width: 120px;
}
.card-image{
  cursor: pointer;

}
