*{
    margin: 0%;
    padding:0%;
}
.card-image{
   width: 40%;
    border-radius:50%;
}
.card{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: flex-start;
    align-items:center;
    background-color:aqua;
    margin:1%;
    gap: 1%;
    
}
.card-information{
    display: flex;
    flex-direction: column;

}
.card-row{
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    gap: 1%;
}