.mainPageDiv {
  display: flex;
  justify-content: center;
  width: 45vw;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 26, 50);
  border-radius: 12px;
  padding: 10px;
  margin: 1%;
  gap: 1%;
  width: 650px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CardImageDiv {
  height: 60vh;
}

.card-image {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardInformation {
  display: flex;
  flex-direction: column;
  height: 60vh;
  gap: 12px;
  width: 100%;
  background-color: rgb(12, 26, 50);
  padding: 10px;
  color: grey;
  font-family: "Righteous", cursive;
}

.DoctorName {
  cursor: pointer;
}

.card-row {
  font-size: 18px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.doctorNameDiv {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #4397cf;
  font-weight: bold;
}

.DoctorName {
  color: #4397cf;
}

.Rating {
  background-color: #0d79e5;
  height: 70px;
}

/* /////////////////////////////////////////// */

.bookingBtnDiv {
  background-color: rgb(12, 26, 50);
  height: 60vh;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px;
}

.bookingBtn {
  color: white;
  height: 40px;
  width: 150px;
  font-size: 15px;
  background-color: #0d79e5;
  border: none;
  border-radius: 12px;
  font-family: "Righteous", cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookingBtn:hover {
  cursor: pointer;
  background-color: #1560aa;
}
