.mainFilterDiv {
  display: flex;
  flex-direction: row;
  width: 560px;
  gap: 20px;
}

.departmentDoctorFolter {
  width: 280px;
  height: 35px;
  color: rgb(77, 77, 77);
}

.cityDoctorRegister {
  color: rgb(77, 77, 77);
  width: 280px;
  height: 35px;
}
