.newDiv {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  padding: 30px;
}
.filterDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 26, 50);
  height: 80px;
  width: 1150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  gap: 15px;
  border: 1px solid #4397cf;
}

.pageNumbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.pageNumberUl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  list-style-type: none;
}

.pageNumbers li {
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
}

.pageNumbers li.active {
  color: white;
  border-radius: 7px;
  font-weight: bold;
  font-size: 25px;
}

.pageNumbers li button {
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: none;
  height: 5vh;
  width: 3vw;
  font-size: 20px;
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pageNumbers li button:hover {
  color: black;
  background-color: #4397cf;
  cursor: pointer;
}

.loadmore {
  padding: 1rem;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: 1px solid white;
  cursor: pointer;
}
