.SearchDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 200px;
}

.searchInput {
  padding: 10px;
  text-align: center;
  width: 300px;
  text-align: left;
  height: 35px;
  padding: 5px;
}

::placeholder {
  position: absolute;
  bottom: 10px;
  top: 7px;
  left: 10px;
  word-spacing: 1px;
  color: rgb(77, 77, 77);
  font-size: 14px;
  letter-spacing: 0.5px;
}
