.SearchDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 200px;
}

.searchInput {
  text-align: center;
  width: 350px;
  text-align: left;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.searchInput::placeholder {
  position: absolute;
  bottom: 17px;
  left: 5px;
  font-weight: bold;
  font-size: 15px;
  color: grey;
}
