.facebook_logo{
    background-color: #0d79e5;
    color: white;
    font-size: 1.4vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.facebook_logo svg{
    margin-top: 1vw;
    margin-left: 1vw;
    /* margin-right: 1vw; */

    margin-bottom: 1vw;

    font-size: 1.7vw;
    
}
.facebook_logo button{
    text-align: center;
}