.facebook_logo {
  background-color: #346ea7;
  color: white;
  font-size: 17px;
  height: 56px;
  width: 180px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.facebook_logo svg {
  margin-left: 10px;
  font-size: 25px;
}
.facebook_logo button {
  text-align: center;
}

.facebookDiv {
  background-color: red;
  object-fit: contain;
}
.facebookDiv :hover {
  cursor: pointer;
}
