.FeedBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.rowFeedBack {
  display: flex;
  flex-direction: row;
}
.feedbackFormDiv {
  color: white;
  font-family: "Righteous", cursive;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.FeedBackName {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 7px;
}
.FeedBackEmail {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 7px;
}

.FeedBackSubject {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 7px;
}

.FeedBackMessage {
  width: 200px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 7px;
}

.FeedBackName,
.FeedBackEmail,
.FeedBackSubject,
.FeedBackMessage,
.FeedBackMessage::placeholder {
  text-align: left;
  padding-left: 3px;
}
.FeedBackSubmit {
  color: white;
  background-color: #0d79e5;
  width: 200px;
  height: 35px;
  border-radius: 7px;
  outline: none;
  border: none;
  font-family: "Righteous", cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  letter-spacing: 1px;
}

.FeedBackSubmit:hover {
  background-color: #3688da;
  color: white;
  cursor: pointer;
}

.feedbackRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.feddbackDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.feedbackCol {
  display: flex;
  flex-direction: column;
  background-color: #4397cf;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  border-radius: 12px;
  margin-top: 3px;
  width: 100%;
  height: 120px;
  gap: 10px;
  padding: 20px;
}
.subjectDiv {
  color: black;
  font-size: 15px;
}
.messageDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  width: 100%;
  word-break: break-all;
  font-size: 20px;
  text-align: left;
}
/* table css */
