.test26 {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.mainChangeDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  width: 900px;
}
.changeDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 30px;
  gap: 50px;
}

.changeInfoDiv {
  display: flex;
  width: 100%;
  margin-left: -210px;
}

.cInfoFrom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.patientInfo {
  font-size: 17px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: #0c1a32;
  color: #f6cd50;
  text-align: left;
}

/* *********************** */

.patientLabel {
  text-align: left;
}

.changePhoneDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

/* ****************************************************doctor*/

label {
  color: white;
  position: relative;
  top: 15px;
  font-family: "Righteous", cursive;
}

.doctorInfo {
  width: 300px;
  font-size: 17px;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: #0c1a32;
  color: #f6cd50;
  text-align: left;
}

.savebtn {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1c2e4c;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  font-family: "Righteous", cursive;
}

.savebtn:hover {
  background-color: #0d79e5;
  color: white;
  cursor: pointer;
}

.mainChangeDoctorDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  margin-top: 180px;
}

.changeInfoFormDoc {
  display: flex;
  flex-direction: row;
  background-color: #0c1a32;
  border-radius: 12px;
  border: 1px solid #4397cf;
  height: 580px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cInforomDoc {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.infoFormDocPart1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.infoFormDocPart2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

/* ////////////////////////////// Patient */

.changeDivPatient {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 100%;
  padding: 30px;
  gap: 50px;
}

.changeInfoDivPatient {
  display: flex;
  width: 100%;
}

.changeInfoForm {
  display: flex;
  flex-direction: column;
  background-color: #0c1a32;
  width: 100%;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #4397cf;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
