.mainChangeDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}

.changeDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  margin-top: 70px;
  padding: 10px;
  margin-left: 10%;
}
.changePasswordDiv {
  display: flex;
  flex-direction: row;
  gap: 3%;
  width: 30%;
  border-radius: 10px;
}

.changePasswordForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cPasswordFrom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.showPasswordbtn {
  background: none;
  outline: none;
  border: none;
  font-size: 35px;
  padding: 50xp;
  color: #f6cd50;
}
.showPasswordbtn:hover {
  cursor: pointer;
  color: blue;
}

.oldPassword {
  width: 400px;
  font-size: 25px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
}

.oldPassword::placeholder {
  color: GREY;
  font-weight: bold;
  position: absolute;
  top: 25px;
}

.newPassword {
  width: 400px;
  font-size: 25px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.newPassword::placeholder {
  position: absolute;
  top: 25px;
  color: GREY;
  font-weight: bold;
}

.savebtn {
  margin-top: 30px;
  margin-left: 250px;
  color: white;
  width: 170px;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  background-color: rgb(59, 133, 44);
  border-radius: 5px;
  transition: 0.5s;
}

.savebtn:hover {
  cursor: pointer;
  background-color: rgb(187, 64, 64);
  color: white;
}

/* ============================ */

.changePhoneDiv {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 30%;
  border-radius: 10px;
}
.changePhoneForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showPhonebtn {
  background: none;
  outline: none;
  border: none;
  font-size: 35px;
  padding: 50xp;
  color: #f6cd50;
}

.showPhonebtn:hover {
  cursor: pointer;
  color: blue;
}
.cPhoneFrom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.oldPhone {
  width: 400px;
  font-size: 25px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
}
.oldPhone::placeholder {
  color: GREY;
  font-weight: bold;
  position: absolute;
  top: 25px;
}

.newPhone {
  width: 400px;
  font-size: 25px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.newPhone::placeholder {
  position: absolute;
  top: 25px;
  color: GREY;
  font-weight: bold;
}

.changePhonePassword {
  width: 400px;
  font-size: 25px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.changePhonePassword::placeholder {
  position: absolute;
  top: 25px;
  color: GREY;
  font-weight: bold;
}

/* ------------------------------------------------------ */

.changeInfoDiv {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 30%;
  border-radius: 10px;
}
.changeInfoForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showInfobtn {
  background: none;
  outline: none;
  border: none;
  font-size: 30px;
  padding: 50xp;
  color: #f6cd50;
}

.showInfobtn:hover {
  cursor: pointer;
  color: blue;
}
.cInfoFrom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.oldInfo {
  width: 400px;
  font-size: 25px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
}
.oldInfo::placeholder {
  color: GREY;
  font-weight: bold;
  position: absolute;
  top: 25px;
}

.newInfo {
  width: 400px;
  font-size: 25px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.newInfo::placeholder {
  position: absolute;
  top: 25px;
  color: GREY;
  font-weight: bold;
}

.changeInfopassword {
  width: 400px;
  font-size: 25px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.changeInfopassword::placeholder {
  position: absolute;
  top: 25px;
  color: GREY;
  font-weight: bold;
}
