.introMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin-top: 0;
}

.aboutSection {
  height: 400px;
  width: 100%;
}

.coverImgIntro {
  position: relative;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
  z-index: -1;
}
.introWords {
  position: absolute;
  top: 155px;
  left: 0;
  width: 100%;
  margin-top: 50px;
}
.WelcomeWords {
  color: white;
  font-family: "Righteous", cursive;
  font-size: 50px;
  letter-spacing: 1px;
}
.detailsWebSite {
  position: absolute;
  top: 255px;
  left: 150px;
  color: white;
  width: 78%;
  margin-top: 50px;
  font-size: 25px;
  text-align: left;
  word-spacing: 4px;
  line-height: 40px;
  font-family: "Cairo", sans-serif;
}

.aboutSection2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  width: 90%;
  margin-top: -30px;
}

.learnMoreBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnMoreBtn {
  color: white;
  height: 60px;
  width: 350px;
  font-size: 15px;
  background-color: #0d79e5;
  border: none;
  border-radius: 12px;
  font-family: "Righteous", cursive;
  letter-spacing: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.learnMoreBtn:hover {
  cursor: pointer;
  background-color: #3581cc;
  border: 1px solid white;
}

.groupCard1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}
.groupCard2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}
.card1 {
  width: 40%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgb(206, 205, 205);
  opacity: 0.8;
  border-radius: 12px;
}
.card1:hover {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardDetails {
  padding: 10px;
}
.cardTilte {
  font-size: 30px;
  text-align: left;
  margin-left: 10px;
  font-family: "Righteous", cursive;
}
.cardIcons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cardExplain {
  display: flex;
  flex-direction: column;
  color: grey;
  margin-top: 20px;
  text-align: left;
  margin-left: 10px;
}

.gifAndCardDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 50px;
  margin-top: 150px;
}

.gifImageDiv {
  border-radius: 12px;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gifImageDiv:hover {
  cursor: pointer;
  color: white;
}

.gifImage {
  background-image: url("https://s10.gifyu.com/images/Medical-care-1e7173687ddd36e0e.gif");
  width: 500px;
  height: 500px;
  background-size: 450px;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 12px;
}

/* ////////////////////// */

.introPageChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  padding: 20px;
  gap: 50px;
  animation: transitionIn 1.5s;
}
.introChartDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.introChartDiv:hover {
  color: white;
}

.introChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 170px;
  background-color: rgb(12, 26, 50);
  border-radius: 12px;
  gap: 5px;
  animation: transitionIn 0.1s;
  border: 1px solid #4397cf;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.introChart:hover {
  background-color: #0d79e5;
  cursor: pointer;
  color: white;
  border: 1px solid white;

  top: 10px;
}

.chartImage {
  width: 90px;
  height: 100px;
}
.backgrounChart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
  border: 2px solid rgb(63, 63, 63);
}

.chartTitle {
  color: white;
  font-size: 17px;
}
.chartTitleNumber {
  color: white;
  font-size: 30px;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translatey(100px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}
