.RegisterHeader {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: -80px;
  padding: 20px;
}
.signUpDiv {
  color: white;
  font-family: "Righteous", cursive;
  font-size: 35px;
}
.instructor {
  width: 400px;
}
.patientRegisterForm {
  background-color: rgb(12, 26, 50);
  border: 1px solid #4397cf;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 640px;
  justify-content: center;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 100px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firstAndLastName {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.firstNamePatient,
.lastNamePatient,
.lastNamePatient {
  width: 260px;
  padding: 20px;
  height: 20px;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
}

.patientGender {
  width: 260px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid grey;
  font-size: 15px;
  cursor: pointer;
  font-family: "Righteous", cursive;
}

.patientGender option {
  text-align: left;
}
.phonePatient,
.passwordPatient {
  padding: 20px;
  width: 550px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid grey;
  text-align: left;
  padding-left: 10px;
}

.phonePatient,
.passwordPatient,
.lastNamePatient,
.firstNamePatient::placeholder {
  font-family: "Righteous", cursive;
  text-align: left;
}

.phonePatient,
.passwordPatient,
.firstNamePatient,
.lastNamePatient:focus {
  outline-color: #4397cf;
  text-align: left;
}

.signUpBtn {
  color: white;
  height: 60px;
  width: 545px;
  font-size: 15px;
  background-color: #0d79e5;
  border: none;
  border-radius: 12px;
  font-family: "Righteous", cursive;
  letter-spacing: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signUpBtn:hover {
  cursor: pointer;
  background-color: #3581cc;
  border: 1px solid white;
}

.clickmebtn {
  background: none;
  border: none;
  color: rgb(250, 71, 71);
  font-weight: bold;
}
.clickmebtn:hover {
  cursor: pointer;
}

.DoctorRoute {
  position: relative;
  left: 335px;
  top: 10px;
  color: white;
  font-family: "Righteous", cursive;
}

.signUpInstructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  width: 550px;
  height: 430px;
  left: 770px;
  top: 230px;
  gap: 30px;
  padding: 20px;
}

.register {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Righteous", cursive;
}
.inst {
  font-size: 18px;
  color: white;
}
