.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3%;
  padding: 0;
  margin: 0;
  font-size: 25px;
  height: 100px;
  background-color: rgb(219, 248, 239);
  padding-top: 27px;
  padding-right: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 5px solid rgb(145, 209, 189);
}
a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  padding: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
a:hover {
  background-color: rgb(145, 209, 189);
  color: white;
}
.logo {
  position: absolute;
  height: 65px;
  width: 120px;
  left: 50px;
  top: 20px;
  background-image: url("https://i.ibb.co/TYVbRN9/XXX.jpg");
  background-size: 120px;
  background-position-y: -15px;
  background-position-x: 0px;
  background-repeat: no-repeat;
  background-color: red;
}
.logo:hover {
  cursor: pointer;
}

.nav_label {
  font-size: 15px;
  pointer-events: none;
}
