.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1c2e4c;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0px;
  z-index: 5;
  border-bottom: 1px solid #4397cf;
}

.logo {
  background-image: url("https://rhythm-admin-template.multipurposethemes.com/images/logo-letter.png");
  width: 60px;
  height: 60px;
  background-size: 60px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 15px;
}

.controlsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  background-color: #1c2e4c;
  gap: 40px;
  padding: 12px;
  margin-top: 10px;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: #0d79e5;
  padding: 12px;
  border-radius: 12px;
}

.logo:hover {
  cursor: pointer;
}

.option {
  font-size: 25px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: rgb(12, 26, 50);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #4397cf;

  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.option:hover {
  background-color: #0d79e5;
  border: 1px solid white;

  color: white;
  margin-top: -5px;
}
a:hover {
  color: white;
}

.shefaaName {
  color: white;
  display: flex;
  margin-top: 40px;
  margin-left: -140px;
  font-family: "Righteous", cursive;
}

.logoAndName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: -5px;
  width: 850px;
}

.emergencyCallDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
  padding: 5px;
  z-index: -20;
}
.emergencyCall {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-family: "Righteous", cursive;
}
.logoAndName:hover {
  cursor: pointer;
}
.option1 {
  font-size: 25px;
  width: auto;
  height: 60px;
  background-color: rgb(12, 26, 50);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #4397cf;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.option1:hover {
  border: 1px solid white;
}

.ProfileImageDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50px;
  height: 50px;
}

.profileImg {
  height: 40px;
  width: 40x;
  border-radius: 7px;
  border-radius: 50%;
}

.drName {
  color: white;
  font-size: 15px;
  min-width: p;
  padding: 2px;
  font-family: "Righteous", cursive;
}

.option1:hover {
  background-color: #0d79e5;
  cursor: pointer;
}

.userProfile {
  color: white;
}
