.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1c2e4c;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.logo {
  background-image: url("https://rhythm-admin-template.multipurposethemes.com/images/logo-letter.png");
  width: 60px;
  height: 60px;
  background-size: 60px;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}

.controlsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  background-color: #1c2e4c;
  gap: 40px;
  padding: 20px;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: #0d79e5;
  padding: 10px;
}

.logo:hover {
  cursor: pointer;
}

.option {
  font-size: 25px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: rgb(12, 26, 50);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover {
  background-color: #0d79e5;
}
a:hover {
  color: white;
}

.shefaaName {
  color: white;
  display: flex;
  margin-top: 40px;
  margin-left: -30px;
  font-family: "Righteous", cursive;
}

.logoAndName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
